@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --pink : crimson;
    --dark-red: #c0392b;
    --black : #333;
    --white : #fff;
    --light-bg : #eee;
    --box-shadow : 0 5px 10px rgba(0,0,0,.1);
}

*{
    font-family: 'Montserrat' ,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
.container {
    min-height: 100vh;
    background-color: #eee;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: -1;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.container .content {
    position: relative; 
    width: 100%;
    padding: 20px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    text-align: center;
    text-align: -webkit-center;
    width: 300px;
    border-radius: 5px;
}
.container .content::before {
      content: "";
      background-image: url(Image/Infrastructure3.jpg);
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 105px;
      left: 0px;
      opacity: 0.2;
}
.container .content .card {
    position: relative;
}

.container .content .card .logo {
    position: relative;
    width: 250px;
}
.container .content .card .user-profile {
    margin-top: 40px;
    width: 100px;
}
.container .content .card .logo img,
.container .content .card .user-profile img{
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 5px;
}
.container .content .card .left {
    text-align: left;
}
p {
    padding: 5px 0px;
}